<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <video>
        <source src=" {{ video }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div id="container">
        <h1>{{ header }}</h1>
        <p>{{ message }}</p>
        <a class="a_button" id="next" href="{{ next }}">></a>
        <a class="a_button" id="prev" href="{{ prev }}">&lt</a>
        <a class="a_button" id="play" href="#">&#9654; Lecture</a>
    </div>
    <div id="background-blur"></div>
    <script src="main.js"></script>
</body>

</html>