<meta charset="utf-8">
<html>
  <head>
    <title>404 Error</title>
  </head>
  <body>
    <style>
      h1,h2{
        font-family: Arial;
        vertical-align: center;
      }
      div{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
      }
    </style>
    <div>
      <h1>404 Error !</h1>
      <h2>This page wasn't found...</h2>
    </div>
  </body>
</html>
