*{
    margin: 0;
    background-color: #00757c;
}

.logo{
    width: 180px;
    height: 117px;
    top: 8px;
    left: 8px;
    position: absolute;
}

.navbar ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.navbar ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar ul li input{
    width: 210;
    height: 80;
    border-radius: 20PX;
    background-color: #0C6165;
    position: relative;
    border: none;
    font-size: 48;
    color: white;
}

.navbar ul li input:hover{
    background-color: #094549;
}

#frame{
    position: relative;
    background-color: white;
    width: 75%;
    height: 75%;
    margin: 0 auto;
}