<html>

<head>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <img src="img/logo-port-boulogne-calais.jpg" class="logo">

    <div class="navbar">
        <ul>
            <li><input type="button" value="Save"></li>
            <li><input type="button" value="Load"></li>
            <li><input type="button" value="Export"></li>
            <li><input type="button" value="Option"></li>
            <li><input type="button" value="Preview"></li>
        </ul>
    </div>

    <div id="frame">
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
        <div class="template">
            <img src="img/logo-port-boulogne-calais.jpg">
            <p>Bla bla</p>
        </div>
    </div>
    <input id="add_button" type="button" value="+">
</body>

</html>