<meta charset="utf-8">

<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>

        <img src= "img/photo-montage-calais-boulogne-2021-4.png"/>
        <span class="dot">
            <img src="img/logo-port-boulogne-calais.jpg" class = "logo">
            <img src="img/portboulognecalais-logo-homepage.png" class = "slogan">
        </span>

        <div id = "buttons">
            <input type = "button" value = "Nouveau">
            <input type = "button" value = "Charger">
        </div>


    </body>
</html>