<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>

<!-- Credits page -->

<body>
    <div id="logos">
        <img src="img/iutlittoral-logo.jpg" alt="logo iut littoral cote d'opale" id="logo_iut">
        <img src="img/logo_JrCanDev.svg" alt="logo JrCanDev" id="logo_jrcandev">
    </div>
    <div id="container">
        <h1>Credits</h1>
        <h2>Projet réalisé par</h2>
        <ul>
            <li>Vandaele Joshua</li>
            <li>Bodart Jeremy</li>
            <li>Sailly Kevin</li>
            <li>Vasseur Camille</li>
            <li>Fermond Romain</li>
        </ul>
        <h2>Hosté par</h2>
        <ul>
            <li>JrCanDev</li>
        </ul>
        <h2>License</h2>
        <ul>
            <li>GNU General Public License v3.0</li>
        </ul>

        <p>
            MiniCMS est un projet réalisé dans le cadre de la formation de BUT Informatique à l'IUT du Littoral Côte
            d'Opale. Il a pour but de permettre à des utilisateurs de créer un site web sans avoir à coder.
        </p>
    </div>

    <a id="back" href="/">Retour à l'accueil</a>
</body>

</html>