body {
    margin: 0;
    padding: 0;
    background-color: #00757c;
}

#top-left-corner {
    position: absolute;
    border-bottom-right-radius: 100%;
    background-color: #FFF;
    width: 250px;
    height: 250px;
    left: 0px; top: 0px;
}

#bottom-right-corner {
    position: absolute;
    border-top-left-radius: 100%;
    background-color: #FFF;
    width: 250px;
    height: 250px;
    right: 0px; bottom: 0px;
}

#logo_iut {
    display: block;
    width: 83%;
    height: auto;
}
#logo_jrcandev {
    display: block;
    width: 90%;
    height: auto;
    margin-top: 70%;
    margin-left: 7%;
}

#container {
    margin: auto;
    width: 50%;
    padding: 20px 100px 20px 100px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    transform: translate(0, 25%);
}

#back {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
}